<!DOCTYPE html>
<html>

<%- include('header'); %>

  <body>
    <%- include('navbar'); %>
    <div class="container mt-5">
       <div class="card text-center border-dark text-white">
          <div class="card-body">
            <img class="rounded-circle" src="<%= user.profile.picture %>" width="100px">
            <p class="card-text"><%= user.profile.name %></p>
            <p class="card-text"><%= user.email %></p>
            <p class="card-text"><%= user.profile.gender %></p>
            <p class="card-text"><%= user.profile.location %></p>
          </div>
       </div>
    </div>
  </body>
</html>
